<div class="home-wrapper">
  <section class="home-wrapper-left">
    <div class="home-left-search-area">
      <%= form_tag "/flatmates", method: "get"  do %>
        <input type="text" name="city" value="" placeholder="Search by city">
        <button>Search</button>
      <% end %>
    </div>

    <div class="home-left-listing-display">
      <% @flatmates_listings.each do |listing| %>
        <img src="<%= listing['photo-url'] %>" alt="">
        <h2><%= listing['city'] %></h2>
        <p><%= listing['description'] %></p>
      <% end %>
    </div>
  </section>

  <section class="home-wrapper-right">
  </section>
</div>
