
<div class="home-wrapper">
  <section class="home-wrapper-left">
    <div class="home-left-search-area">

      <%= form_tag "#", method: "get" do %>
        <select name="search" id="search">
          <option value="sharehouses"> Share Houses</option>
          <option value="longterm"> Long-Term Listings</option>
        </select>
        <input class="input" type="text" name="city" value="" placeholder="Search by city">
        <button id="search-type" class="places-search">Search</button>
      <% end %>
    </div>

    <div class="home-left-listing-display">
    </div>
  </section>

  <section class="home-wrapper-right">
    <div id="map"></div>
  </section>
</div>
