
<div class="home-wrapper">
  <section class="home-wrapper-left">
    <div class="home-left-search-area">
      <%= form_tag "/sharehouses", method: "get"  do %>
        <input type="text" name="city" value="" placeholder="Search by city">
        <button>Search Share houses</button>
      <% end %>

      <%= form_tag "/longterm", method: "get"  do %>
        <input class="input" type="text" name="city" value="" placeholder="Search by city">
        <button id="long-term-search">Search Long Term Rentals</button>
      <% end %>
    </div>

    <div class="home-left-listing-display">
    </div>
  </section>

  <section class="home-wrapper-right">
    <div id="map"></div>
  </section>
</div>
