@import 'variables.scss';

#logo {
  padding: 0;
  margin: 0;
  font-size: 1.5em;
  width: 140px;
  color: $primary-color;
}

.home-wrapper {
  width: 100%;
  height: 100vh;

  .home-wrapper-left {
    width: 60%;
    height: 100%;
    float: left;

    .home-left-search-area {
      height: 28%;
      width: 100%;
      padding: 7em 3em 0 3em;
      border-bottom: 1px solid lightgrey;
      border-right: 1px solid lightgrey;

      input {
        width: 60%;
        padding: .8em;
        border-radius: 5px;
        border: 1px solid lightgrey;
      }

      button {
        width: 8em;
        background-color: $primary-color;
        border: none;
        border-radius: 5px;
        color: $secondary-color;
        padding: .8em;
      }

      button:hover {
        background-color: #820D07;
      }

      select {
        height: 3em;
      }
    }

    .home-left-listing-display {
      width: 100%;
      height: 72%;
      padding: 1em;
      border-right: 1px solid lightgrey;
      overflow: auto;

      .home-display-card {
        border: 1px solid lightgrey;
        margin-bottom: 1em;
        box-shadow: .5px .5px .5px;

        .home-img-card {
          width: 40%;
          height: 100%;
          display: inline-block;
          vertical-align: middle;
        }

        .home-content-card {
          width: 55%;
          display: inline-block;
          vertical-align: middle;

          h2, p {
            padding: .5em;
          }

          h2 {
            font-size: 1.5em;
            font-family: 'Quicksand', sans-serif;
          }
        }
      }
    }
  }

  .home-wrapper-right {
    width: 40%;
    height: 100%;
    float: right;

    #map {
      width: 100%;
      height: 100%;
    }
  }
}
