#logo {
  padding: 0;
  margin: 0;
  font-size: 1.5em;
  width: 140px;
  color: #CF4531;
}

.home-wrapper {
  padding: 5%;

  .home-left-search-area {
    padding: 5%;
    border-bottom: 1px solid grey;

    input {
      width: 30em;
    }
  }
}
